.ipynb_checkpoints/zonal_stats-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/vector_data-checkpoint.ipynb
.ipynb_checkpoints/raster_data-checkpoint.ipynb
.ipynb_checkpoints/environment-checkpoint.yml
.ipynb_checkpoints/LICENSE-checkpoint
.ipynb_checkpoints/python_basics-checkpoint.ipynb
